#refreash-player-data svg {
    transition: 1s;
}

#refreash-player-data:hover svg {
    transform: rotate(360deg);
}

#add-player-to-compare svg {
    transition: 1s;
}

#add-player-to-compare:hover svg {
    transform: scale(0.75);
}

.player-avatar {
    width: 50%;
}

.chartjs-size-monitor #mychart {
    height: auto !important;
    width: 100%;
}

.match-player-container > .container {
    padding: 0;
    border: 1px solid rgba(255,255,255, .4);
    border-radius: 7px;
}

.match-player-container > .container > .row {
    margin: 0;
}

.match-player-container > .container > .row:last-child {
    border-bottom: none;
    margin-bottom: 0;
    margin: 0 0 0 0;
}

.match-player-container .row .col {
    width: 20%;
}

.match-player {
    text-align: center;
}

.match-player h6 {
    word-wrap: break-word;
}

.match-player img {
    width: 100%;
}

.match-player .tooltip.show {
    border-radius: 7px !important;
}

.match-player a {
    color: #FFF;
}

.match-player a.me {
    color: #DF691A;
}

.match-player img.champion-avatar {
    width: auto;
    max-height: 119.39px;
}

.match-player-items .col-4 {
    padding: 1px !important;
}

.match-player p {
    margin-bottom: .5rem !important;
}

.match-team-win {
    background: rgba(60, 209, 60, .2);
}

.match-team-lose {
    background: rgba(209, 60, 60, .2);
}

.match-team-win,
.match-team-lose {
    padding: 1rem;
}

.loser-label {
    color: rgb(209, 60, 60);
}

.winner-label {
    color: rgb(60, 209, 60);
}

.loser-label,
.winner-label {
    padding: 0rem 1rem 1rem 1rem;
    font-size: 1.4em;
}

.match-player img.minion-img,
.match-player img.gold-img {
    width: auto;
    display: inline-block;
    margin-right: -15px;
    padding-top: 6px;
}

.match-player img.gold-img {
    padding-top: 9px;
    margin-right: -10px;
}

.match-player .income-info,
.match-player .income-info .col-6 {
    padding: 0;
}

.match-team-deatails {
    font-size: 1.2em;
    text-align: right;;
}
