<div id="single-player-container" class="container">
    <div class="row">
        <img class="compnentPreloader" [hidden]="pageIsLoaded" src="assets/load.svg">
    </div>
    <div [hidden]="!pageIsLoaded == true" class="row">
        <div class="col-3 text-center">
            <div *ngIf="sPlayer" class="container-fluid">
                <img class="player-avatar" [src]="getAvatarImage(sPlayer.player.profileIconId)">
                <h3>{{ sPlayer.player.name }}</h3>
                <h6>Lvl {{ sPlayer.player.summonerLevel }}</h6>

                <p>
                    <button id="refreash-player-data" class="btn btn-primary" (click)="getFreshData()"><i class="fas fa-sync"></i> Update data</button>
                </p>
                <p>
                    <button id="add-player-to-compare" class="btn btn-success" (click)="addThisPlayerToCompareBox()"><i class="far fa-plus-square"></i> Add to compare</button>
                </p>
            </div>
            <br/>
            <div class="container-fluid">
                <div *ngIf="positionsChart">
                    <h6>Positions</h6>
                    <canvas id="positionsChart">{{ positionsChart }}</canvas>
                    <br/>
                    <small><sup>*</sup>Based on last 100 matches</small>
                </div>
            </div>
            <br/>
            <div class="container-fluid">
                <div *ngIf="killDeathsAssistsChart">
                    <h6>Kills/Deaths/Asissts</h6>
                    <canvas id="killDeathsAssistsChart">{{ killDeathsAssistsChart }}</canvas>
                    <br/>
                    <small><sup>*</sup>Based on last 10 matches</small>
                </div>
            </div>
            <br/>
            <div class="container-fluid">
                <div *ngIf="winLosesChart">
                    <h6>Wins/Loses</h6>
                    <canvas id="winLosesChart">{{ winLosesChart }}</canvas>
                    <br/>
                    <small><sup>*</sup>Based on last 10 matches</small>
                </div>
            </div>
        </div>
        <div class="col-9" *ngIf="sPlayer">
            <div class="col-12 match-player-container" *ngFor="let match of sPlayer.display_matches">
                <div class="container-fluid">
                    <div class="row">
                        <span class="col-6 text-left">
                            <small>Duration: {{ match.gameDuration * 1000 | date: "H:mm:ss" : "UTC"}}</small>
                        </span>
                        <span class="col-6 text-right">
                            <small>Date: {{ match.gameCreation | date: "dd.MM.y" }}</small>
                        </span>
                    </div>
                </div>
                <div class="container">
                    <div class="row" [ngClass]="{'match-team-win': match.teams[0].win == 'Win', 'match-team-lose': match.teams[0].win == 'Fail'}">
                        <div class="col-6 winner-label" *ngIf="match.teams[0].win == 'Win'"><i class="fas fa-trophy"></i> VICTORY</div>
                        <div class="col-6 loser-label" *ngIf="match.teams[0].win == 'Fail'"><i class="fas fa-frown"></i> DEFEAT</div>
                        <div class="col-6 text-right">Type: {{getGameTypeName(match.queueId)}}<br>Map: {{lolMaps[match.mapId]}}<br></div>
                        <div class="col" *ngFor="let participant of (match.participantIdentities ? match.participantIdentities.slice(0,5): []); let i = index" [attr.data-index]="i">
                            <div class="match-player">
                                <img [ngbTooltip]="getChampionName(match.participants[i].championId)" class="champion-avatar" [src]="getChampionNameImage(match.participants[i].championId)">
                                <h6><a [ngClass]="{'me': participant.player.summonerName == sPlayer.player.name}" (click)="userChanegedPlayer(participant.player.summonerName)" routerLink="/search/region/{{region}}/name/{{participant.player.summonerName}}">{{participant.player.summonerName}}</a></h6>
                                <p>
                                    {{match.participants[i].stats.kills}} /
                                    {{match.participants[i].stats.deaths}} /
                                    {{match.participants[i].stats.assists}}
                                </p>
                                <p>
                                    <span>Lvl {{match.participants[i].stats.champLevel}}</span>
                                </p>
                                <div class="container-fluid no-gutters income-info">
                                    <div class="row">
                                        <span class="col-6">
                                            <img class="minion-img" src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/minion.png" />
                                            <span>{{match.participants[i].stats.totalMinionsKilled + match.participants[i].stats.neutralMinionsKilled}}</span>
                                        </span>
                                        <span class="col-6">
                                            <img class="gold-img" src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/gold.png" />
                                            <span>{{getSummonerGoldInThousands(match.participants[i].stats.goldEarned)}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="row no-gutters">
                                        <div class="col-5">
                                            <img [src]="getSummonerSpellImage(match.participants[i].spell1Id)">
                                        </div>
                                        <div class="col-2"></div>
                                        <div class="col-5">
                                            <img [src]="getSummonerSpellImage(match.participants[i].spell2Id)">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="container match-player-items">
                                    <div class="row">
                                        <div class="col-4" *ngIf="match.participants[i].stats.item0">
                                            <img [src]="getItemImage(match.participants[i].stats.item0)">
                                        </div>
                                        <div class="col-4" *ngIf="match.participants[i].stats.item1">
                                            <img [src]="getItemImage(match.participants[i].stats.item1)">
                                        </div>
                                        <div class="col-4" *ngIf="match.participants[i].stats.item2">
                                            <img [src]="getItemImage(match.participants[i].stats.item2)">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4" *ngIf="match.participants[i].stats.item3">
                                            <img [src]="getItemImage(match.participants[i].stats.item3)">
                                        </div>
                                        <div class="col-4" *ngIf="match.participants[i].stats.item4">
                                            <img [src]="getItemImage(match.participants[i].stats.item4)">
                                        </div>
                                        <div class="col-4" *ngIf="match.participants[i].stats.item5">
                                            <img [src]="getItemImage(match.participants[i].stats.item5)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 match-team-deatails text-left" [ngClass]="{'match-team-win': match.teams[0].win == 'Win', 'match-team-lose': match.teams[0].win == 'Fail'}">
                            <div class="container">
                                <div class="row">
                                    <div class="col-6 text-left">
                                        <span><i class="fab fa-d-and-d"></i> {{match.teams[0].dragonKills}}</span>
                                        <span><i class="fas fa-chess-rook"></i> {{match.teams[0].towerKills}}</span>
                                        <span><i class="fas fa-bug"></i> {{match.teams[0].baronKills}}</span>
                                    </div>
                                    <div class="col-6 text-right">
                                        <span>{{getTeamKillsAsistsDeaths(match.participants, 100)}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 match-team-deatails text-right" [ngClass]="{'match-team-win': match.teams[1].win == 'Win', 'match-team-lose': match.teams[1].win == 'Fail'}">
                            <div class="container">
                                <div class="row">
                                    <div class="col-6 text-left">
                                        <span>{{getTeamKillsAsistsDeaths(match.participants, 200)}}</span>
                                    </div>
                                    <div class="col-6 text-right">
                                        <span><i class="fab fa-d-and-d"></i> {{match.teams[1].dragonKills}}</span>
                                        <span><i class="fas fa-chess-rook"></i> {{match.teams[1].towerKills}}</span>
                                        <span><i class="fas fa-bug"></i> {{match.teams[1].baronKills}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" [ngClass]="{'match-team-win': match.teams[1].win == 'Win', 'match-team-lose': match.teams[1].win == 'Fail'}">
                        <div class="col-12 winner-label" *ngIf="match.teams[1].win == 'Win'"><i class="fas fa-trophy"></i> VICTORY</div>
                        <div class="col-12 loser-label" *ngIf="match.teams[1].win == 'Fail'"><i class="fas fa-frown"></i> DEFEAT</div>

                        <div class="col" *ngFor="let participant of (match.participantIdentities ? match.participantIdentities.slice(5,10): []); let i = index;" [attr.data-index]="i">
                            <div class="match-player">
                                <img [ngbTooltip]="getChampionName(match.participants[i+5].championId)" class="champion-avatar" [src]="getChampionNameImage(match.participants[i+5].championId)">
                                <h6><a [ngClass]="{'me': participant.player.summonerName == sPlayer.player.name}" (click)="userChanegedPlayer(participant.player.summonerName)" routerLink="/search/region/{{region}}/name/{{participant.player.summonerName}}">{{participant.player.summonerName}}</a></h6>
                                <p>
                                    {{match.participants[i+5].stats.kills}} /
                                    {{match.participants[i+5].stats.deaths}} /
                                    {{match.participants[i+5].stats.assists}}
                                </p>
                                <div class="container-fluid no-gutters income-info">
                                    <div class="row">
                                        <span class="col-6">
                                            <img class="minion-img" src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/minion.png" />
                                            <span>{{match.participants[i+5].stats.totalMinionsKilled + match.participants[i+5].stats.neutralMinionsKilled}}</span>
                                        </span>
                                        <span class="col-6">
                                            <img class="gold-img" src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/gold.png" />
                                            <span>{{getSummonerGoldInThousands(match.participants[i+5].stats.goldEarned)}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="row no-gutters">
                                        <div class="col-5">
                                            <img [src]="getSummonerSpellImage(match.participants[i+5].spell1Id)">
                                        </div>
                                        <div class="col-2"></div>
                                        <div class="col-5">
                                            <img [src]="getSummonerSpellImage(match.participants[i+5].spell2Id)">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="container match-player-items">
                                    <div class="row">
                                        <div class="col-4" *ngIf="match.participants[i+5].stats.item0">
                                            <img [src]="getItemImage(match.participants[i+5].stats.item0)">
                                        </div>
                                        <div class="col-4" *ngIf="match.participants[i+5].stats.item1">
                                            <img [src]="getItemImage(match.participants[i+5].stats.item1)">
                                        </div>
                                        <div class="col-4" *ngIf="match.participants[i+5].stats.item2">
                                            <img [src]="getItemImage(match.participants[i+5].stats.item2)">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4" *ngIf="match.participants[i+5].stats.item3">
                                            <img [src]="getItemImage(match.participants[i+5].stats.item3)">
                                        </div>
                                        <div class="col-4" *ngIf="match.participants[i+5].stats.item4">
                                            <img [src]="getItemImage(match.participants[i+5].stats.item4)">
                                        </div>
                                        <div class="col-4" *ngIf="match.participants[i+5].stats.item5">
                                            <img [src]="getItemImage(match.participants[i+5].stats.item5)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
    </div>
</div>

<br>
<br>
