#player-search-container input.form-control,
#player-search-container select.form-control,
#player-search-container button[type="submit"] {
    border-radius: 7px !important;
}

#player-search-container h1 {
    font-weight: 100;
    text-align: left;
    word-wrap: break-word;
}


#player-search-container button[type="submit"] svg {
    transition: 1s;
}

#player-search-container button[type="submit"]:hover svg {
    transform: scaleX(-1);
}


#player-search-container {
    background: url("assets/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

    padding: 6rem 5rem;
    margin-bottom: 4rem;
}

#player-search-container h1 {
    font-size: 3em;
    font-family: 'Lato';
    font-weight: 100;
}
