<div id="player-search-container" class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Let's look for {{summonerName}} {{summonerRegion}}</h1>
        </div>
    </div>
    <form (ngSubmit)="onSubmit()" class="row">
        <div class="col-8">
            <input #summonerSearchField class="form-control" type="text" placeholder="Summoner name" (keyup)="searchInputKeyUp(summonerSearchField.value)">
        </div>
        <div class="col-2">
            <select #regionSelectField class="form-control" (change)="searchSelectClick(regionSelectField.value)">
                <option selected>EUNE</option>
                <option>EUW</option>
                <option>BR</option>
                <option>JP</option>
                <option>KR</option>
                <option>LAN</option>
                <option>LAS</option>
                <option>NA</option>
                <option>OCE</option>
                <option>TR</option>
                <option>RU</option>
            </select>
        </div>
        <div class="col-2">
            <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i> SEARCH</button>
        </div>
    </form>
</div>
