<div *ngIf="pageIsLoaded == false" class="row">
    <img class="compnentPreloader" src="assets/load.svg">
</div>

<div id="item-container" class="container" *ngIf="pageIsLoaded == true">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <h1>Champions list</h1>
                </div>
                <div class="col-4 text-right">
                    <input [(ngModel)]="filterChampion" type="text" placeholder="Search..." class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3 text-center champion-box" *ngFor="let champion of champions | championItemFilter: filterChampion">
            <a routerLink="/champions/{{champion.key}}">
                <img src="http://ddragon.leagueoflegends.com/cdn/{{version}}/img/champion/{{champion.key}}.png">
                <h4>{{ champion.name}}</h4>
                <h6>{{ champion.title }}</h6>
            </a>
        </div>
    </div>
</div>
<br />
<br />
