<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h3>Compare yourself</h3>
            <p class="info">You can compare yourself with others. Look for players (for example you and your friend), add them to "compare box" and click comapre button. You will be able to see who is better in certain areas. You will be able to see who has more wins, loses, kills, assists, deaths, MMR, league and so on...</p>
        </div>
        <div class="col-sm-4">
            <img src="http://via.placeholder.com/350x150" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <img src="http://via.placeholder.com/350x150" alt="">
        </div>
        <div class="col-sm-8">
            <h3>Check your matches</h3>
            <p class="info">O meczach</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3>Knowledge is power!</h3>
            <p class="info">Itemy i championy</p>
        </div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3 text-center">
            <img src="http://via.placeholder.com/350x150" alt="">
        </div>
        <div class="col-sm-3 text-center">
            <img src="http://via.placeholder.com/350x150" alt="">
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
<br>
<br>
