<div class="container">
    <div class="row">
        <div class="col-12">
            <a class="go-back" routerLink="/items"><i class="fas fa-arrow-circle-left"></i> Go back</a>
        </div>
    </div>
</div>
<br />

<div *ngIf="pageIsLoaded == false" class="row">
    <img class="compnentPreloader" src="assets/load.svg">
</div>

<div class="container" *ngIf="pageIsLoaded == true">
    <div class="row">
        <div id="item-basics" class="col-4 text-center">
            <img src="http://ddragon.leagueoflegends.com/cdn/{{version}}/img/item/{{item.id}}.png">
            <h2>{{item.name}}</h2>
            <h6>Cost: {{item.gold.total}} <img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/gold.png" /></h6>
        </div>
        <div class="col-8">
            <div id="item-details" class="container">
                <div class="row">
                    <div class="col-12">
                        <p>{{item.description}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h4>Purchasable on:</h4>
                        <ul>
                            <li>Summoner's Rift: {{item.maps["11"]}}</li>
                            <li>Howling Abyss: {{item.maps["12"]}}</li>
                            <li>Twisted Treeline: {{item.maps["10"]}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
