#item-basics {
    padding: 3rem 1rem 1rem 1rem;
    background: #17224b;
    border-radius: 7px;
}

#item-basics h2 {
    text-transform: capitalize;
}

#item-details {
    padding: 3rem;
    background: #17224b;
    border-radius: 7px;
}
