<div *ngIf="pageIsLoaded == false" class="row">
    <img class="compnentPreloader" src="assets/load.svg">
</div>

<div class="container" *ngIf="pageIsLoaded == true">
    <div class="row">
        <div class="col-8">
            <h1>All items in League of Legends</h1>
        </div>
        <div class="col-4">
            <input [(ngModel)]="filterItem" type="text" placeholder="Search..." class="form-control"/>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-3 text-center item" *ngFor="let item of items | championItemFilter: filterItem">
            <a routerLink="/items/{{item.name}}">
                <img src="http://ddragon.leagueoflegends.com/cdn/{{version}}/img/item/{{item.id}}.png">
                <h4>{{ item.name }}</h4>
            </a>
        </div>
    </div>
</div>

<br>
<br>
