nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    height: 3.3rem
}

#navbarText {
    text-align: right;
}

ul.navbar-nav {
    font-size: 1.2rem;
}

ul.navbar-nav a {
    padding: 1rem;
    transition: .3s;
}
ul.navbar-nav a:hover {
    background: #17224b;
    color: #FFF;
    text-decoration: none;
}
