<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">
        <!--<img src="http://via.placeholder.com/140x100" class="d-inline-block align-top" alt="Logo">-->
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-auto">
           <li class="nav-item">
               <a routerLink="/champions">Champions</a>
           </li>
           <li class="nav-item">
               <a routerLink="/items">Items</a>
           </li>
        </ul>
    </div>
</nav>
