#page-footer-wrapper {
    padding: 3rem 5rem 0 5rem;
    background: #000;
}

#page-footer-wrapper > .row {
    margin: 0;
}

#quick-links {
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 2px;
}

#quick-links div {
    padding-bottom: 1rem;
}

#quick-links div a {
    transition: .3s;
}
#quick-links div a:hover {
    text-decoration: none;
}

#copyright-bar {
    padding: 1rem 0;
}

#copyright-bar hr {
    width: 45%;
    background: #FFF;
    margin-bottom: .5rem;
}

#copyright-bar p {
    margin: 0;
}
