<div id="page-footer-wrapper" class="container-fluid">
    <div class="row">
        <div id="quick-links" class="col-3">
            <div>
                <a routerLink="/">Home page</a>
            </div>
            <div>
                <a routerLink="/items">Items list</a>
            </div>
            <div>
                <a routerLink="/champions">Champions list</a>
            </div>
        </div>
        <div class="col-5">
        </div>
        <div class="col-4">
            <img src="http://via.placeholder.com/350x150"/>
        </div>
    </div>
    <div id="copyright-bar" class="row">
        <div class="col-12 text-center">
            <hr />
            <p>Copyright <a href="https://sopsondottell.tk/" target="_blank">Michał Sobczak</a> & Maks Rebizant &copy; 2018</p>
        </div>
    </div>
</div>
