<div id="compare-box" class="container">
    <div class="row compare-box-player" *ngIf="compareTwoPlayers.player1.summonerName != ''">
        <div class="col-12">
            <h4>{{compareTwoPlayers.player1.summonerName}}</h4>
            <h6>{{compareTwoPlayers.player1.region}}</h6>
            <button class="btn btn-danger"><i class="fas fa-minus-circle"></i> Delete</button>
        </div>
    </div>
    <div class="row compare-box-player" *ngIf="compareTwoPlayers.player2.summonerName != ''">
        <div class="col-12">
            <h4>{{compareTwoPlayers.player2.summonerName}}</h4>
            <h6>{{compareTwoPlayers.player2.region}}</h6>
            <button class="btn btn-danger"><i class="fas fa-minus-circle"></i> Delete</button>
        </div>
    </div>
    <div class="row compare-box-do-button" *ngIf="compareTwoPlayers.player1.summonerName != '' && compareTwoPlayers.player2.summonerName != ''">
        <div class="col-12">
            <button class="btn btn-success"><i class="fas fa-clipboard-check"></i> Compare</button>
        </div>
    </div>
</div>
