<div class="container">
    <div class="row">
        <div class="col-12">
            <a class="go-back" routerLink="/champions"><i class="fas fa-arrow-circle-left"></i> Go back</a>
        </div>
    </div>
</div>
<br />
<div *ngIf="pageIsLoaded == false" class="row">
    <img class="compnentPreloader" src="assets/load.svg">
</div>

<div class="container" *ngIf="pageIsLoaded == true">
    <div class="row">
        <div class="col-4 text-center">
            <div id="champion-basics" class="container">
                <div class="row">
                    <div class="col-12">
                        <img src="http://ddragon.leagueoflegends.com/cdn/{{version}}/img/champion/{{champion.key}}.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h2>{{champion.name}}</h2>
                        <h6 class="champion-title">{{champion.title}}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>Attack {{champion.info.attack}}</p>
                        <p>Defense {{champion.info.defense}}</p>
                        <p>Magic {{champion.info.magic}}</p>
                        <p>Difficulty {{champion.info.difficulty}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="champion-stats" class="col-8">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>Champion stats</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p>Aromor: <small>{{champion.stats.armor}}</small></p>
                        <p>Armor per level: <small>{{champion.stats.armorperlevel}}</small></p>
                        <p>Attack damage: <small>{{champion.stats.attackdamage}}</small></p>
                        <p>Attack damage per level: <small>{{champion.stats.attackdamageperlevel}}</small></p>
                        <p>Attack range: <small>{{champion.stats.attackrange}}</small></p>
                        <p>Attack speed offset: <small>{{champion.stats.attackspeedoffset}}</small></p>
                        <p>Attack speed per level: <small>{{champion.stats.attackspeedperlevel}}</small></p>
                        <p>Crit: <small>{{champion.stats.crit}}</small></p>
                        <p>Crit per level: <small>{{champion.stats.critperlevel}}</small></p>
                    </div>
                    <div class="col-6">
                        <p>HP: <small>{{champion.stats.hp}}</small></p>
                        <p>HP per level: <small>{{champion.stats.hpperlevel}}</small></p>
                        <p>HP regeneration: <small>{{champion.stats.hpregen}}</small></p>
                        <p>HP regeneration per level: <small>{{champion.stats.hpregenperlevel}}</small></p>
                        <p>Movement speed: <small>{{champion.stats.movespeed}}</small></p>
                        <p>MP: <small>{{champion.stats.mp}}</small></p>
                        <p>MP per level: <small>{{champion.stats.mpperlevel}}</small></p>
                        <p>MP regeneration: <small>{{champion.stats.mpregen}}</small></p>
                        <p>MP regeneration per level: <small>{{champion.stats.mpregenperlevel}}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>Spells</h2>
        </div>
        <div class="col-3 champion-spell" *ngFor="let spell of champion.spells">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <p>
                            <img src="http://ddragon.leagueoflegends.com/cdn/{{version}}/img/spell/{{spell.image.full}}" />
                        </p>
                        <h4>{{spell.name}}</h4>
                        <p>Cost: {{spell.costBurn}}</p>
                        <p>{{spell.sanitizedDescription}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-6">
            <div class="container">
                <div class="row">
                    <div class="col-12 champion-ally">
                        <h2>Tips - {{champion.name}} as ally</h2>
                        <ul>
                            <li *ngFor="let tip of champion.allytips">{{tip}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="container">
                <div class="row">
                    <div class="col-12 champion-enemy">
                        <h2>Tips - {{champion.name}} as enemy</h2>
                        <ul>
                            <li *ngFor="let tip of champion.enemytips">{{tip}}</li>
                        </ul>
                    </div>
                 </div>
             </div>
        </div>
    </div>
</div>
<br />
<br />
