#champion-basics {
    background: #17224b;
    border-radius: 7px;
    padding: 1rem;
}

#champion-stats {
    background: #17224b;
    border-radius: 7px;
    padding: 1rem;
}

.champion-title {
    text-transform: capitalize;
}

.champion-spell .row {
    padding: 0 .5rem;
}

.champion-spell .col-12 {
    padding: 1rem;
    background: #17224b;
    border-radius: 7px;
}

.champion-ally {
    background: rgba(60, 209, 60, .2);
}

.champion-enemy {
    background: rgba(209, 60, 60, .2);
}

.champion-ally,
.champion-enemy {
    padding: 1rem;
    border-radius: 7px;
}
